<div class="container mt-4">
  <h2 class="d-inline-block">Lista de Usuários</h2>
  <a routerLink="/users/create" class="btn btn-primary float-end">Novo Usuário</a>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nome</th>
          <th>Sobrenome</th>
          <th>Email</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td>{{ user.id }}</td>
          <td><a [routerLink]="['/users', user.id]">{{ user.nome }}</a></td>
          <td>{{ user.sobrenome }}</td>
          <td>{{ user.email }}</td>
          <td class="d-flex flex-row">
            <button class="btn btn-danger me-3" (click)="confirmDelete(user.id)" title="Excluir">
              Excluir
            </button>
            <div *ngIf="user.historicoEscolar">
              <button class="btn btn-info" (click)="downloadHistoricoEscolar(user.id)" title="Download do Histórico Escolar">
                Histórico Escolar
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
