<div class="container mt-4">
  <h2>Lista de Usuários</h2>
  <a routerLink="/users/create">Adicionar Usuário</a>
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Sobrenome</th>
        <th>Email</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.id }}</td>
        <td>{{ user.nome }}</td>
        <td>{{ user.sobrenome }}</td>
        <td>{{ user.email }}</td>
        <td>
          <button class="btn btn-primary" (click)="editUser(user.id)">Editar</button>
          <button class="btn btn-danger ms-3" (click)="confirmDelete(user.id)">Excluir</button>
          <div *ngIf="user.historicoEscolar">
            <button class="btn btn-info ms-3" (click)="downloadHistoricoEscolar(user.id)">Histórico Escolar</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
